<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.OperatorMapper" >
  <resultMap id="BaseResultMap" type="com.model.Operator" >
    <id column="lOperatorID" property="lOperatorID" jdbcType="INTEGER" />
    <result column="lEmployeeID" property="lEmployeeID" jdbcType="INTEGER" />
    <result column="szSignOnName" property="szSignOnName" jdbcType="VARCHAR" />
    <result column="szSignOnPassword" property="szSignOnPassword" jdbcType="VARCHAR" />
    <result column="szPower" property="szPower" jdbcType="INTEGER" />
    <result column="szEffectiveDate" property="szEffectiveDate" jdbcType="VARCHAR" />
    <result column="szExpirationDate" property="szExpirationDate" jdbcType="VARCHAR" />
    <result column="szPasswordEffectiveDate" property="szPasswordEffectiveDate" jdbcType="VARCHAR" />
    <result column="szPasswordExpirationDate" property="szPasswordExpirationDate" jdbcType="VARCHAR" />
    <result column="szPasswordExpirationRange" property="szPasswordExpirationRange" jdbcType="INTEGER" />
    <result column="lPasswordExpirationRange" property="lPasswordExpirationRange" jdbcType="INTEGER" />
    <result column="bPasswordResetFlag" property="bPasswordResetFlag" jdbcType="SMALLINT" />
    <result column="bPasswordChangeFlag" property="bPasswordChangeFlag" jdbcType="SMALLINT" />
    <result column="lPasswordEntryErrorCount" property="lPasswordEntryErrorCount" jdbcType="INTEGER" />
    <result column="bLeftHandedFlag" property="bLeftHandedFlag" jdbcType="SMALLINT" />
    <result column="szExternalID" property="szExternalID" jdbcType="VARCHAR" />
    <result column="szPrintCode" property="szPrintCode" jdbcType="VARCHAR" />
    <result column="szComment" property="szComment" jdbcType="VARCHAR" />
    <result column="dLowArtDiscPrice" property="dLowArtDiscPrice" jdbcType="DECIMAL" />
    <result column="szPreferedGui" property="szPreferedGui" jdbcType="VARCHAR" />
    <result column="szDallasKeyID" property="szDallasKeyID" jdbcType="VARCHAR" />
    <result column="lTechLayerAccessID" property="lTechLayerAccessID" jdbcType="INTEGER" />
    <result column="szLastUpdLocal" property="szLastUpdLocal" jdbcType="VARCHAR" />
    <result column="bExternalCashier" property="bExternalCashier" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    lOperatorID, lEmployeeID, szSignOnName, szSignOnPassword, szPower, szEffectiveDate, 
    szExpirationDate, szPasswordEffectiveDate, szPasswordExpirationDate, szPasswordExpirationRange, 
    lPasswordExpirationRange, bPasswordResetFlag, bPasswordChangeFlag, lPasswordEntryErrorCount, 
    bLeftHandedFlag, szExternalID, szPrintCode, szComment, dLowArtDiscPrice, szPreferedGui, 
    szDallasKeyID, lTechLayerAccessID, szLastUpdLocal, bExternalCashier
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.model.OperatorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Operator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Operator
    where lOperatorID = #{lOperatorID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Operator
    where lOperatorID = #{lOperatorID,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.model.OperatorExample" >
    delete from Operator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.model.Operator" >
    insert into Operator (lOperatorID, lEmployeeID, szSignOnName, 
      szSignOnPassword, szPower, szEffectiveDate, 
      szExpirationDate, szPasswordEffectiveDate, 
      szPasswordExpirationDate, szPasswordExpirationRange, 
      lPasswordExpirationRange, bPasswordResetFlag, 
      bPasswordChangeFlag, lPasswordEntryErrorCount, 
      bLeftHandedFlag, szExternalID, szPrintCode, 
      szComment, dLowArtDiscPrice, szPreferedGui, 
      szDallasKeyID, lTechLayerAccessID, szLastUpdLocal, 
      bExternalCashier)
    values (#{lOperatorID,jdbcType=INTEGER}, #{lEmployeeID,jdbcType=INTEGER}, #{szSignOnName,jdbcType=VARCHAR}, 
      #{szSignOnPassword,jdbcType=VARCHAR}, #{szPower,jdbcType=INTEGER}, #{szEffectiveDate,jdbcType=VARCHAR}, 
      #{szExpirationDate,jdbcType=VARCHAR}, #{szPasswordEffectiveDate,jdbcType=VARCHAR}, 
      #{szPasswordExpirationDate,jdbcType=VARCHAR}, #{szPasswordExpirationRange,jdbcType=INTEGER}, 
      #{lPasswordExpirationRange,jdbcType=INTEGER}, #{bPasswordResetFlag,jdbcType=SMALLINT}, 
      #{bPasswordChangeFlag,jdbcType=SMALLINT}, #{lPasswordEntryErrorCount,jdbcType=INTEGER}, 
      #{bLeftHandedFlag,jdbcType=SMALLINT}, #{szExternalID,jdbcType=VARCHAR}, #{szPrintCode,jdbcType=VARCHAR}, 
      #{szComment,jdbcType=VARCHAR}, #{dLowArtDiscPrice,jdbcType=DECIMAL}, #{szPreferedGui,jdbcType=VARCHAR}, 
      #{szDallasKeyID,jdbcType=VARCHAR}, #{lTechLayerAccessID,jdbcType=INTEGER}, #{szLastUpdLocal,jdbcType=VARCHAR}, 
      #{bExternalCashier,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.model.Operator" >
    insert into Operator
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lOperatorID != null" >
        lOperatorID,
      </if>
      <if test="lEmployeeID != null" >
        lEmployeeID,
      </if>
      <if test="szSignOnName != null" >
        szSignOnName,
      </if>
      <if test="szSignOnPassword != null" >
        szSignOnPassword,
      </if>
      <if test="szPower != null" >
        szPower,
      </if>
      <if test="szEffectiveDate != null" >
        szEffectiveDate,
      </if>
      <if test="szExpirationDate != null" >
        szExpirationDate,
      </if>
      <if test="szPasswordEffectiveDate != null" >
        szPasswordEffectiveDate,
      </if>
      <if test="szPasswordExpirationDate != null" >
        szPasswordExpirationDate,
      </if>
      <if test="szPasswordExpirationRange != null" >
        szPasswordExpirationRange,
      </if>
      <if test="lPasswordExpirationRange != null" >
        lPasswordExpirationRange,
      </if>
      <if test="bPasswordResetFlag != null" >
        bPasswordResetFlag,
      </if>
      <if test="bPasswordChangeFlag != null" >
        bPasswordChangeFlag,
      </if>
      <if test="lPasswordEntryErrorCount != null" >
        lPasswordEntryErrorCount,
      </if>
      <if test="bLeftHandedFlag != null" >
        bLeftHandedFlag,
      </if>
      <if test="szExternalID != null" >
        szExternalID,
      </if>
      <if test="szPrintCode != null" >
        szPrintCode,
      </if>
      <if test="szComment != null" >
        szComment,
      </if>
      <if test="dLowArtDiscPrice != null" >
        dLowArtDiscPrice,
      </if>
      <if test="szPreferedGui != null" >
        szPreferedGui,
      </if>
      <if test="szDallasKeyID != null" >
        szDallasKeyID,
      </if>
      <if test="lTechLayerAccessID != null" >
        lTechLayerAccessID,
      </if>
      <if test="szLastUpdLocal != null" >
        szLastUpdLocal,
      </if>
      <if test="bExternalCashier != null" >
        bExternalCashier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lOperatorID != null" >
        #{lOperatorID,jdbcType=INTEGER},
      </if>
      <if test="lEmployeeID != null" >
        #{lEmployeeID,jdbcType=INTEGER},
      </if>
      <if test="szSignOnName != null" >
        #{szSignOnName,jdbcType=VARCHAR},
      </if>
      <if test="szSignOnPassword != null" >
        #{szSignOnPassword,jdbcType=VARCHAR},
      </if>
      <if test="szPower != null" >
        #{szPower,jdbcType=INTEGER},
      </if>
      <if test="szEffectiveDate != null" >
        #{szEffectiveDate,jdbcType=VARCHAR},
      </if>
      <if test="szExpirationDate != null" >
        #{szExpirationDate,jdbcType=VARCHAR},
      </if>
      <if test="szPasswordEffectiveDate != null" >
        #{szPasswordEffectiveDate,jdbcType=VARCHAR},
      </if>
      <if test="szPasswordExpirationDate != null" >
        #{szPasswordExpirationDate,jdbcType=VARCHAR},
      </if>
      <if test="szPasswordExpirationRange != null" >
        #{szPasswordExpirationRange,jdbcType=INTEGER},
      </if>
      <if test="lPasswordExpirationRange != null" >
        #{lPasswordExpirationRange,jdbcType=INTEGER},
      </if>
      <if test="bPasswordResetFlag != null" >
        #{bPasswordResetFlag,jdbcType=SMALLINT},
      </if>
      <if test="bPasswordChangeFlag != null" >
        #{bPasswordChangeFlag,jdbcType=SMALLINT},
      </if>
      <if test="lPasswordEntryErrorCount != null" >
        #{lPasswordEntryErrorCount,jdbcType=INTEGER},
      </if>
      <if test="bLeftHandedFlag != null" >
        #{bLeftHandedFlag,jdbcType=SMALLINT},
      </if>
      <if test="szExternalID != null" >
        #{szExternalID,jdbcType=VARCHAR},
      </if>
      <if test="szPrintCode != null" >
        #{szPrintCode,jdbcType=VARCHAR},
      </if>
      <if test="szComment != null" >
        #{szComment,jdbcType=VARCHAR},
      </if>
      <if test="dLowArtDiscPrice != null" >
        #{dLowArtDiscPrice,jdbcType=DECIMAL},
      </if>
      <if test="szPreferedGui != null" >
        #{szPreferedGui,jdbcType=VARCHAR},
      </if>
      <if test="szDallasKeyID != null" >
        #{szDallasKeyID,jdbcType=VARCHAR},
      </if>
      <if test="lTechLayerAccessID != null" >
        #{lTechLayerAccessID,jdbcType=INTEGER},
      </if>
      <if test="szLastUpdLocal != null" >
        #{szLastUpdLocal,jdbcType=VARCHAR},
      </if>
      <if test="bExternalCashier != null" >
        #{bExternalCashier,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.model.OperatorExample" resultType="java.lang.Integer" >
    select count(*) from Operator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Operator
    <set >
      <if test="record.lOperatorID != null" >
        lOperatorID = #{record.lOperatorID,jdbcType=INTEGER},
      </if>
      <if test="record.lEmployeeID != null" >
        lEmployeeID = #{record.lEmployeeID,jdbcType=INTEGER},
      </if>
      <if test="record.szSignOnName != null" >
        szSignOnName = #{record.szSignOnName,jdbcType=VARCHAR},
      </if>
      <if test="record.szSignOnPassword != null" >
        szSignOnPassword = #{record.szSignOnPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.szPower != null" >
        szPower = #{record.szPower,jdbcType=INTEGER},
      </if>
      <if test="record.szEffectiveDate != null" >
        szEffectiveDate = #{record.szEffectiveDate,jdbcType=VARCHAR},
      </if>
      <if test="record.szExpirationDate != null" >
        szExpirationDate = #{record.szExpirationDate,jdbcType=VARCHAR},
      </if>
      <if test="record.szPasswordEffectiveDate != null" >
        szPasswordEffectiveDate = #{record.szPasswordEffectiveDate,jdbcType=VARCHAR},
      </if>
      <if test="record.szPasswordExpirationDate != null" >
        szPasswordExpirationDate = #{record.szPasswordExpirationDate,jdbcType=VARCHAR},
      </if>
      <if test="record.szPasswordExpirationRange != null" >
        szPasswordExpirationRange = #{record.szPasswordExpirationRange,jdbcType=INTEGER},
      </if>
      <if test="record.lPasswordExpirationRange != null" >
        lPasswordExpirationRange = #{record.lPasswordExpirationRange,jdbcType=INTEGER},
      </if>
      <if test="record.bPasswordResetFlag != null" >
        bPasswordResetFlag = #{record.bPasswordResetFlag,jdbcType=SMALLINT},
      </if>
      <if test="record.bPasswordChangeFlag != null" >
        bPasswordChangeFlag = #{record.bPasswordChangeFlag,jdbcType=SMALLINT},
      </if>
      <if test="record.lPasswordEntryErrorCount != null" >
        lPasswordEntryErrorCount = #{record.lPasswordEntryErrorCount,jdbcType=INTEGER},
      </if>
      <if test="record.bLeftHandedFlag != null" >
        bLeftHandedFlag = #{record.bLeftHandedFlag,jdbcType=SMALLINT},
      </if>
      <if test="record.szExternalID != null" >
        szExternalID = #{record.szExternalID,jdbcType=VARCHAR},
      </if>
      <if test="record.szPrintCode != null" >
        szPrintCode = #{record.szPrintCode,jdbcType=VARCHAR},
      </if>
      <if test="record.szComment != null" >
        szComment = #{record.szComment,jdbcType=VARCHAR},
      </if>
      <if test="record.dLowArtDiscPrice != null" >
        dLowArtDiscPrice = #{record.dLowArtDiscPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.szPreferedGui != null" >
        szPreferedGui = #{record.szPreferedGui,jdbcType=VARCHAR},
      </if>
      <if test="record.szDallasKeyID != null" >
        szDallasKeyID = #{record.szDallasKeyID,jdbcType=VARCHAR},
      </if>
      <if test="record.lTechLayerAccessID != null" >
        lTechLayerAccessID = #{record.lTechLayerAccessID,jdbcType=INTEGER},
      </if>
      <if test="record.szLastUpdLocal != null" >
        szLastUpdLocal = #{record.szLastUpdLocal,jdbcType=VARCHAR},
      </if>
      <if test="record.bExternalCashier != null" >
        bExternalCashier = #{record.bExternalCashier,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Operator
    set lOperatorID = #{record.lOperatorID,jdbcType=INTEGER},
      lEmployeeID = #{record.lEmployeeID,jdbcType=INTEGER},
      szSignOnName = #{record.szSignOnName,jdbcType=VARCHAR},
      szSignOnPassword = #{record.szSignOnPassword,jdbcType=VARCHAR},
      szPower = #{record.szPower,jdbcType=INTEGER},
      szEffectiveDate = #{record.szEffectiveDate,jdbcType=VARCHAR},
      szExpirationDate = #{record.szExpirationDate,jdbcType=VARCHAR},
      szPasswordEffectiveDate = #{record.szPasswordEffectiveDate,jdbcType=VARCHAR},
      szPasswordExpirationDate = #{record.szPasswordExpirationDate,jdbcType=VARCHAR},
      szPasswordExpirationRange = #{record.szPasswordExpirationRange,jdbcType=INTEGER},
      lPasswordExpirationRange = #{record.lPasswordExpirationRange,jdbcType=INTEGER},
      bPasswordResetFlag = #{record.bPasswordResetFlag,jdbcType=SMALLINT},
      bPasswordChangeFlag = #{record.bPasswordChangeFlag,jdbcType=SMALLINT},
      lPasswordEntryErrorCount = #{record.lPasswordEntryErrorCount,jdbcType=INTEGER},
      bLeftHandedFlag = #{record.bLeftHandedFlag,jdbcType=SMALLINT},
      szExternalID = #{record.szExternalID,jdbcType=VARCHAR},
      szPrintCode = #{record.szPrintCode,jdbcType=VARCHAR},
      szComment = #{record.szComment,jdbcType=VARCHAR},
      dLowArtDiscPrice = #{record.dLowArtDiscPrice,jdbcType=DECIMAL},
      szPreferedGui = #{record.szPreferedGui,jdbcType=VARCHAR},
      szDallasKeyID = #{record.szDallasKeyID,jdbcType=VARCHAR},
      lTechLayerAccessID = #{record.lTechLayerAccessID,jdbcType=INTEGER},
      szLastUpdLocal = #{record.szLastUpdLocal,jdbcType=VARCHAR},
      bExternalCashier = #{record.bExternalCashier,jdbcType=SMALLINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.Operator" >
    update Operator
    <set >
      <if test="lEmployeeID != null" >
        lEmployeeID = #{lEmployeeID,jdbcType=INTEGER},
      </if>
      <if test="szSignOnName != null" >
        szSignOnName = #{szSignOnName,jdbcType=VARCHAR},
      </if>
      <if test="szSignOnPassword != null" >
        szSignOnPassword = #{szSignOnPassword,jdbcType=VARCHAR},
      </if>
      <if test="szPower != null" >
        szPower = #{szPower,jdbcType=INTEGER},
      </if>
      <if test="szEffectiveDate != null" >
        szEffectiveDate = #{szEffectiveDate,jdbcType=VARCHAR},
      </if>
      <if test="szExpirationDate != null" >
        szExpirationDate = #{szExpirationDate,jdbcType=VARCHAR},
      </if>
      <if test="szPasswordEffectiveDate != null" >
        szPasswordEffectiveDate = #{szPasswordEffectiveDate,jdbcType=VARCHAR},
      </if>
      <if test="szPasswordExpirationDate != null" >
        szPasswordExpirationDate = #{szPasswordExpirationDate,jdbcType=VARCHAR},
      </if>
      <if test="szPasswordExpirationRange != null" >
        szPasswordExpirationRange = #{szPasswordExpirationRange,jdbcType=INTEGER},
      </if>
      <if test="lPasswordExpirationRange != null" >
        lPasswordExpirationRange = #{lPasswordExpirationRange,jdbcType=INTEGER},
      </if>
      <if test="bPasswordResetFlag != null" >
        bPasswordResetFlag = #{bPasswordResetFlag,jdbcType=SMALLINT},
      </if>
      <if test="bPasswordChangeFlag != null" >
        bPasswordChangeFlag = #{bPasswordChangeFlag,jdbcType=SMALLINT},
      </if>
      <if test="lPasswordEntryErrorCount != null" >
        lPasswordEntryErrorCount = #{lPasswordEntryErrorCount,jdbcType=INTEGER},
      </if>
      <if test="bLeftHandedFlag != null" >
        bLeftHandedFlag = #{bLeftHandedFlag,jdbcType=SMALLINT},
      </if>
      <if test="szExternalID != null" >
        szExternalID = #{szExternalID,jdbcType=VARCHAR},
      </if>
      <if test="szPrintCode != null" >
        szPrintCode = #{szPrintCode,jdbcType=VARCHAR},
      </if>
      <if test="szComment != null" >
        szComment = #{szComment,jdbcType=VARCHAR},
      </if>
      <if test="dLowArtDiscPrice != null" >
        dLowArtDiscPrice = #{dLowArtDiscPrice,jdbcType=DECIMAL},
      </if>
      <if test="szPreferedGui != null" >
        szPreferedGui = #{szPreferedGui,jdbcType=VARCHAR},
      </if>
      <if test="szDallasKeyID != null" >
        szDallasKeyID = #{szDallasKeyID,jdbcType=VARCHAR},
      </if>
      <if test="lTechLayerAccessID != null" >
        lTechLayerAccessID = #{lTechLayerAccessID,jdbcType=INTEGER},
      </if>
      <if test="szLastUpdLocal != null" >
        szLastUpdLocal = #{szLastUpdLocal,jdbcType=VARCHAR},
      </if>
      <if test="bExternalCashier != null" >
        bExternalCashier = #{bExternalCashier,jdbcType=SMALLINT},
      </if>
    </set>
    where lOperatorID = #{lOperatorID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.Operator" >
    update Operator
    set lEmployeeID = #{lEmployeeID,jdbcType=INTEGER},
      szSignOnName = #{szSignOnName,jdbcType=VARCHAR},
      szSignOnPassword = #{szSignOnPassword,jdbcType=VARCHAR},
      szPower = #{szPower,jdbcType=INTEGER},
      szEffectiveDate = #{szEffectiveDate,jdbcType=VARCHAR},
      szExpirationDate = #{szExpirationDate,jdbcType=VARCHAR},
      szPasswordEffectiveDate = #{szPasswordEffectiveDate,jdbcType=VARCHAR},
      szPasswordExpirationDate = #{szPasswordExpirationDate,jdbcType=VARCHAR},
      szPasswordExpirationRange = #{szPasswordExpirationRange,jdbcType=INTEGER},
      lPasswordExpirationRange = #{lPasswordExpirationRange,jdbcType=INTEGER},
      bPasswordResetFlag = #{bPasswordResetFlag,jdbcType=SMALLINT},
      bPasswordChangeFlag = #{bPasswordChangeFlag,jdbcType=SMALLINT},
      lPasswordEntryErrorCount = #{lPasswordEntryErrorCount,jdbcType=INTEGER},
      bLeftHandedFlag = #{bLeftHandedFlag,jdbcType=SMALLINT},
      szExternalID = #{szExternalID,jdbcType=VARCHAR},
      szPrintCode = #{szPrintCode,jdbcType=VARCHAR},
      szComment = #{szComment,jdbcType=VARCHAR},
      dLowArtDiscPrice = #{dLowArtDiscPrice,jdbcType=DECIMAL},
      szPreferedGui = #{szPreferedGui,jdbcType=VARCHAR},
      szDallasKeyID = #{szDallasKeyID,jdbcType=VARCHAR},
      lTechLayerAccessID = #{lTechLayerAccessID,jdbcType=INTEGER},
      szLastUpdLocal = #{szLastUpdLocal,jdbcType=VARCHAR},
      bExternalCashier = #{bExternalCashier,jdbcType=SMALLINT}
    where lOperatorID = #{lOperatorID,jdbcType=INTEGER}
  </update>
</mapper>